
<link rel="stylesheet" href="icons/jibagawesus.css">
<link rel="stylesheet" href="css/nav.css">

<nav>
  <a class="nav-item end-left" href="/"><i class="icon-brush"></i></a>
  <a class="nav-item" href="/login">Profile</a>
</nav>
